<button class="tertiary" type="button" (click)="showModal()">
    New
</button>
<span class="toast" *ngIf="isRespMessageEmpty()">{{respMessage}}</span>
<div class="card fluid">
    <div class="section" style="text-align: center;">
        <h3>
            Singkatan
        </h3>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    Singkatan
                </th>
                <th>
                    Makna
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let singkatan of singkatans">
                <td data-label="Singkatan">
                    {{singkatan.abbreviation}}
                </td>
                <td data-label="Makna">
                    <ul *ngIf="isArray(singkatan.meaning);else meaning_not_array">
                        <li *ngFor="let item of singkatan.meaning">
                            {{item}}
                        </li>
                    </ul>
                    <ng-template #meaning_not_array>
                        {{singkatan.meaning}}
                    </ng-template>
                </td>
                <td>
                    <div class="button-group">
                        <div class="button" type="button" (click)="showEditModal(singkatan)">Edit Makna</div>
                         <div class="button" type="button" (click)="showEditModal(singkatan)">Tambah Makna</div>   
                        
                    </div>
                    <div class="button-group">
                        <div class="button secondary" type="button" (click)="deleteSingkatan(singkatan)">Delete</div>
                    
                    </div>
                     
                </td>
            </tr>
        </tbody>
    </table>
</div>



<input type="checkbox" id="modal-control" class="modal">
<div [ngClass]="{'modal-singkatan': this.isModalVisible }">
  <div class="card" >
    <div for="modal-control" class="modal-close" (click)="closeModal()"></div>
    <h3 class="section">Singkatan</h3>
    <form class="section">
        <fieldset>
            <label>Singkatan</label>
            <input type="text" #singkatan>
            <label>Makna</label>
            <input type="text" #makna>
        </fieldset> 
        <div class="button-group">
          <button class="tertiary" type="button" (click)="insertSingkatan(singkatan.value,makna.value)">Submit</button>
          <button class="secondary" (click)="closeModal()" type="button">Cancel</button>
       </div>       
    </form>
  </div>
</div>


<input type="checkbox" id="modal-control" class="modal">
<div [ngClass]="{'modal-singkatan': isEditModalVisible }">
  <div class="card" >
    <div for="modal-control" class="modal-close" (click)="closeEditModal()"></div>
    <h3 class="section">Edit Singkatan</h3>
    <form class="section" *ngIf="selectedSingkatan" #edit_singkatan="ngForm">
        <fieldset>
            <label>Singkatan</label>
            <input disabled="true" type="text" #edit_singkatan value="{{selectedSingkatan.abbreviation}}">
            <label>Daftar Makna</label>
            <div *ngFor="let item of selectedSingkatan.meaning;let i=index">
                <input
                [name]="item"
                [ngModel]="item"
                type="text"
                (keyup.enter)="onEnterMeaningUpdate($event.target.value,i)"
                >
            </div>
        </fieldset> 
        <div class="button-group">
          <button class="tertiary" type="button">Update</button>
          <button class="secondary" (click)="closeEditModal()" type="button">Cancel</button>
       </div>       
    </form>
  </div>
</div>
