<button class="tertiary" type="button" (click)="showModal()">
    New
</button>
<div class="card fluid">
    <div class="section" style="text-align: center;">
        <h3>
            Singkatan
        </h3>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Singkatan
                </th>
                <th>
                    Makna
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="No">
                    Chad
                </td>
                <td data-label="Singkatan">
                    Wilberts
                </td>
                <td data-label="Makna">
                    MrOne
                </td>
                <td data-label="Actions">
                    <div class="button-group">
                        <button class="primary">
                            Edit
                        </button>
                        <button class="danger">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<label for="modal-control">Show modal</label>

<input type="checkbox" id="modal-control" class="modal">
<div [ngClass]="{'modal-singkatan': this.isModalVisible }">
  <div class="card" >
    <div for="modal-control" class="modal-close" (click)="closeModal()"></div>
    <h3 class="section">Singkatan</h3>
    <form class="section">
        <fieldset>
            <label>Singkatan</label>
            <input type="text" #singkatan>
            <label>Makna</label>
            <input type="text" #makna>
        </fieldset> 
        <div class="button-group">
          <button class="tertiary" type="button">Submit</button>
          <button class="secondary" (click)="closeModal()" type="button">Cancel</button>
       </div>       
    </form>
  </div>
</div>
