<button class="tertiary">
    New
</button>
<div class="card fluid">
    <div class="section" style="text-align: center;">
        <h3>
            Singkatan
        </h3>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Singkatan
                </th>
                <th>
                    Makna
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="No">
                    Chad
                </td>
                <td data-label="Singkatan">
                    Wilberts
                </td>
                <td data-label="Makna">
                    MrOne
                </td>
                <td data-label="Actions">
                    <div class="button-group">
                        <button class="primary">
                            Edit
                        </button>
                        <button class="danger">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
