<nav>
  <a routerLink="/home">Home</a>
  <span>Database</span>
  <a routerLink="/singkatan" class="sublink-1">Singkatan</a>
  <span>Image Processing</span>
  <a href="#" class="sublink-1">Convert To Binary</a>
  <a href="#" class="sublink-1">Line Segmentation</a>
  <a href="#" class="sublink-1">Word Segmentation</a>
  <a href="#" class="sublink-1">Character Segmentation</a>
  <span class="sublink-1">Additionals</span>
  <a href="#" class="sublink-2">Skew Correction</a>
  <a href="#" class="sublink-2">Slant Correction</a>

</nav>